*{
    margin : 0;
    padding : 0;
}

.center{
    position: absolute;
    top: 15vw;
    left: 38vw; 

}

.switch-css{
    position: absolute;
    top: 80vh;
    left: 85vh;
}

@media screen and (max-width : 600px){
    .center{
        position : absolute;
        top: 35vh;
        left: 6.5vh;
    }

    .switch-css{
        margin-top: 9vh;
        margin-left: -65vh;
    }
    
}


