.body-class{
    max-width: 540px;
    border-radius:2px;
}

.in-card  :hover{
    /* background-color: #d7dbdb; */
}

.card-style{
    border-radius: 54px;
background: linear-gradient(225deg, #cacaca, #f0f0f0);
box-shadow:  -26px 26px 50px #949494,
             26px -26px 50px #ffffff;
}

.list-class{
    padding: 2%;
    list-style: none;
    align-items: center;
    margin-left:25% ;
    margin-right: 25%;
    align-items: center;
}

.center{
    align-items: center;
    align-text:center;
}

.links-css{
        text-decoration: none;
       color: black;
    }
    
.links-css:hover{
        /* color: gray; */
    }
