*{
    margin : 0px;
    padding: 0px;
}

.Nav-css{
    background-color: #d7dbdb;
}

.Navlinks-css-sign{
   margin-left: auto;
}
.Navlinks-css{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.links-css{
    text-decoration: none;
   margin-right: 10px;
  
   color: black;
}

.links-css:hover{
    color: gray;
}

@media screen and (max-width:500px) {
    .links-css{
        display: flex;
        justify-content: space-between;
    }

    .Nav-css{
        height: 25vh;
    }

    .icon-css{
        position: absolute;
        top: 3vh;
        left:20vh
    }

    .user-css{
        position: absolute;
        top: 11vh;
    }

    .place-css{
        position: absolute;
        top: 19vh;
    }

    .signUp-css{
        position: absolute;
    top: 19vh;
    }
}

@media screen and (max-width : 400px) {
    .icon-css{
        position: absolute;
        top: 3vh;
        left:15vh
    }

    .user-css{
        position: absolute;
        top: 10vh;
    }

    .place-css{
        position: absolute;
        top: 17vh;
    }
    .signUp-css{
        position: absolute;
    top: 17vh;
    }
}